body {

    background-color: lightcyan;  
    color: #000000;
    text-align:center;
}

img {
    margin-left:auto;
    margin-right:auto;
    display:block;
    display: inline-block;
}

p { 
    font-size: 2em;
    text-align: center;
}

#page:link {
    color: black;
}

#page:visited {
    color:black;
}

#page:hover {
    font-size: 1.7em;
}

#page {
    text-align:center;
    border:2px solid black;
    padding: 3px;
    font-size: x-large;
    text-decoration: none;
    transition-duration: 0.3s;
    transition-property: font-size, color;
}

h1 {
    font-size: 3em;
    text-align: center;
    border-bottom: 2px solid black;
    padding: 20px;
}

h2 {
    font-size: 3em;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 20px;
}